style.
  body {
    background: #2b2735;
    color: #F4EDE8;
  }

  .message-content {
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
    margin: 0 auto;
    padding: 20px;
  }

  .message-content a {
    color: #FF9000;
    text-decoration: none;
  }

  .message-content a:hover {
    text-decoration: underline;
  }

.message-content
  p Olá #{name},
  br
  p Parece que uma troca de senha para sua conta foi solicitada.
  p Se foi você quem solicitou, clique no link abaixo para escolher uma nova senha:
  p: a(href=link, target="_blank", rel="noopener noreferrer") Clique aqui para definir uma nova senha
  br
  p Se não foi você quem solicitou a mudança de senha, descarte este e-mail.
  p Obrigado,
    br
    strong Equipe GoBarber
