##############################################################
# Para usar, basta copiar e colar criando um arquivo .env,
# depois, rode o comando docker-compose up -d postgres para
# inicializar o banco de dados
###############################################################

# Configurações do Database
# O tipo de banco de dados utilizado
DB_TYPE=postgres
# A senha do usuário DB_USER
DB_PASSWORD=postgres
# O nome do usuário
DB_USER=postgres
# O nome do database que será criado
DB_DATABASE=dev
# A porta para se conectar com o banco de dados
DB_PORT=5432
# O host no qual está hospedado seu banco de dados,
# se estiver usando o Docker, deixe como localhost mesmo.
DB_HOST=localhost
# Tome cuidado ao habilitar, isso fará com que o Typeorm
# destrua e construa as tabelas de acordo com as mudanças
# que você fizer nas entidades, veja a opção `synchronize` em: https://github.com/typeorm/typeorm/blob/master/docs/connection-options.md#common-connection-options
DB_SYNCHRONIZE=false
# Isso diz para o Typeorm se ele deve rodar as migrations ao iniciar a API,
# marque `false` caso não queira que rode
DB_MIGRATIONS_RUN=false
# O timeout que desiste de se conectar com o banco de dados
DB_TIMEOUT=60000
# Diz se deve realizar o logging das operações do banco de dados
DB_LOGGING=false
# Diz se deve habilitar o SSL para a conexão com o banco de dados
DB_SSL=false
