################################################################################
# To use, just copy and paste this file creating a new file called .env,
# then run the command docker-compose up -d postgres to initialize the database
################################################################################

# Database Configurations
DB_TYPE=postgres
DB_PASSWORD=postgres
DB_USER=postgres
DB_DATABASE=dev
DB_PORT=5432
DB_HOST=localhost
# Be careful when enabling, this will make the Typeorm
# destroy and build the tables according to the changes
# that you do on the entities, see the `synchronize` option in: https://github.com/typeorm/typeorm/blob/master/docs/connection-options.md#common-connection-options
DB_SYNCHRONIZE=false
DB_MIGRATIONS_RUN=false
DB_TIMEOUT=60000
DB_LOGGING=false
DB_SSL=false
