##############################################################
# Para usar, basta copiar e colar criando um arquivo .env,
# depois, rode o comando docker-compose up -d postgres para
# inicializar o banco de dados
###############################################################

# Configurações do Database
DB_PASSWORD=postgres
DB_USER=postgres
DB_DATABASE=dev
DB_PORT=5432
